/* This is where styles are defined for your page. */
/* One style is provided as example. */

boby {
  font-family:serif 
}
header.page-header {
  background:lightgray;
  padding:1rem;
  border-radius:25px
}
.page-header h1 {
  margin-bottom:0;
}
.page-header p {
  margin-top:0;
}
.page-header small {
  font-size:medium;
}

h1,h2,h3,h4 h5,h6 {
  font-family: sans-serif;
}
aside.more-info {
  background:darkgray;
}
aside.more-info img {
  width:200px;
  height:auto;
}  
section#content {
 background: lightgray;
} 
.poem {
  list-style-type:none;
}
.poem li {
  font-size:large;
  line-height:1.8;
}
footer.page-footer {
  background-image: url('images/hiking-the-sand-dunes.jpg');
}  


